<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png" %}" sizes="16x16">
  </head>
  <body>
    <nav class="navbar navbar-default cursive-font">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ BASE_URL }}">{{ SITE_NAME }}</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://justinguy.github.io/2015/10/16/bitcoinsms/">About</a></li>
            <li><a href="{{ BASE_URL }}/faq">FAQ</a></li>
            <li><a target="_blank" href="mailto:contact@bitcoinsms.io" title="contact@bitcoinsms.io">Contact</a></li>
            <li><a href="{{ BASE_URL }}/docs">API Docs</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.charactercounter.js" %}"></script>
    <script src="{% static "js/jquery.qrcode-0.12.0.min.js" %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
